<!-- Formatage général pour les paragraphes -->
p {font-family:verdana; font-size:100%; text-align:justify; text-indent:30px; padding:12px;}
<!-- Formatage pour les titres de niveau 1 -->
h1 {font-family:arial; font-size:150%; text-align:center; font-weight:bold; color:red; background-color:yellow;
border-bottom: 2px solid black;}
<!-- Formatage pour les titres de niveau 2 -->
h2 {font-family:arial; font-size:125%; font-indent:40px; font-style:italic; color:green;}
<!-- Formatage pour les liens non visités -->
a {font-family:times new roman; font-size:120%; color:blue; font-weight:bold; text-decoration:underline;}
<!-- Formatage pour les liens visités -->
a:visited {font-family:times new roman; font-size:120%; color:green; font-weight:bold; text-decoration:underline;}
<!-- formatage pour la balise <dt> des éléments de listes de définitions -->
dt {background-color:red;  font-size:130%;}
<!-- formatage pour la balise <dd> des éléments de listes de définitions -->
dd {background-color:green;  font-size:110%; font-style:italic;}
<!-- Attribution de la valeur italique pour la balise EM -->
em {font-style:italic; }
<!-- définition des titres de tableaux --> 
caption {margin:auto; font-family: Arial, Times, "Times New Roman", serif;   font-weight: bold; font-size: 1.2em;   color: #009900; margin-bottom: 20px; text-align:center;} 
<!-- Définition des tableaux -->
 table {margin: auto; border: 4px outset: green; 
border-collapse: collapse;} 
<!-- Définition des titres de colonnes -->
 th {background-color: #006600; 
   color: white; font-size: 1.1em; font-family: Arial, "Arial Black", Times, "Times New Roman", serif;} 
<!-- Définition des cellules ordinaires -- <
 td {border: 1px solid black; font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif; 
padding: 5px;} 
<!-- définition des labels de formulaires -->
label {color: blue; }
